@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h3>DataBase Connnection is  : @Model</h3>

    <!--In Asp.NetCore MVC , @Model refers to the data that is passed from the controller to the view. in this context , @Model
         represent the result of the database connection test performed in the controller 

         @Model is used within the HTML markup to dynamically display the result of the Database connection Test
    -->
</div>
